{% include 'header.html' %}
{% include 'lab1/header.html' %}

        <div class="col-md-6">
            <form class="form-horizontal" action="{{ url_for('lab1_add_file') }}" method="post" enctype="multipart/form-data">
                <div class="form-group has-feedback">
                    <label class="control-label col-sm-3" for="files">Choose files to upload</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-folder-open"></span></span>
                        <input type="file" id="files" class="form-control btn btn-default" name="files" value="{{request.form.files }}" multiple>
                    </div>
                </div>
                {% if error %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endif %}
                <div class="form-group has-feedback">
                    <div class="input-group">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>