 <body class = "body">
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('lab1_pricing') }}">
                 <span class="glyphicon glyphicon-usd"></span> Pricing {{current_user.user_id }} {{current_user.username}}
                </a>
              </li>
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('lab1_add_file') }}">
                  <span class="glyphicon glyphicon-plus"></span> Add File
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('lab1_user_files') }}">
                  <span class="glyphicon glyphicon-duplicate"></span> My files
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('lab1_user_settings') }}">
                  <span class="glyphicon glyphicon-cog"></span> Settings
                </a>
              </li>
            {% endif %}
            </ul>
          </div>
        </nav>
