{% include 'header.html' %}
{% include 'lab1/header.html' %}

        <div class="col-md-6">
            Lab1 is FileStorage app that allows upload and store your files (<u>It's fake storage. The app stores just files info, not the files themselves</u>).
            {% if not current_user.is_authenticated %}
                To use this app you should <a href="{{ url_for('login') }}"> Log in</a> or <a href="{{ url_for('signup') }}">Sign up</a>
            {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>