{% include 'header.html' %}
{% include 'lab1/header.html' %}

        <h1>Choose the right FileStorage for you</h1>
          <div class="col-md-8 col-md-offset-2">
          {% for i, rate in rates %}
              {% if i % 2 == 0 %}
                <div class="row">
              {% endif %}
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert">
                        <span class="badge badge-light">{{ rate[0] }}</span>
                        <div>
                            <h1>${{ rate[2] }} <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                              <li>{{ rate[1] / 1024 / 1024 }} MB of storage</li>
                            </ul>
                            <form class="form-horizontal" action="{{ url_for('lab1_apply_rate') }}" method="post">
                                <button type="submit" class="btn btn-primary" name="rate-name" value="{{ rate[0] }}">Purchase now</button>
                            </form>
                        </div>
                    </div>
                </div>
              {% if i % 2 != 0 %}
                </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>


