{% include 'header.html' %}
{% include 'lab1/header.html' %}


        <h1><span class="glyphicon glyphicon-cog"></span> Settings</h1>
        <div class="col-md-8">
            <table class="table table-striped">
              <tbody>
                {% for name, value in settings %}
                    <tr>
                        <td>{{name[0]}}</td>
                        {% if name[0] == 'size_limit' %}
                            <td>{{value / 1024 / 1024 }} MB   <a href="{{ url_for('lab1_pricing') }}">Change</a></td>
                        {% else %}
                            <td>{{value}}  <a href="{{ url_for('lab1_pricing') }}">Change</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </body>
</html>