{% include 'header.html' %}
{% include 'lab1/header.html' %}


            <h1>Total size <span class="badge badge-info"><h5>{{(total_size / 1024 / 1024)|round(2, 'floor')}} MB</h5></span></h1>
            <div class="col-md-10">
                <form action="{{ url_for('lab1_user_files') }}" method="post">
                  <div class="form-row align-items-center">
                    <div class="col-sm-2 my-1">
                      <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" id="filename" placeholder="Filename" name="filename" value="{{request.form.filename}}">
                      </div>
                    </div>
                    <div class="col-auto my-1">
                      <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                  </div>
                </form>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Filename</th>
                      <th>Content Type</th>
                      <th>Size</th>
                      <th>Uploaded at</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if files %}
                        {% for file in files %}
                            <tr>
                              {% for property in file[1:] %}
                                {% if loop.index0 == 2 %}
                                    {% if property < 1024*1024 %}
                                        <td>{{ (property / 1024)|round(2, 'floor') }} KB</td>
                                    {% else %}
                                        <td>{{ (property / 1024 / 1024)|round(2, 'floor') }} MB</td>
                                    {% endif %}
                                {% else %}
                                    <td>{{property}}</td>
                                {% endif %}
                              {% endfor %}
                                 <td>
                                    <form  action="{{ url_for('lab1_download_file') }}" method="post">
                                        <button id="download" class="btn btn-default" data-toggle="tooltip" type="submit" name="file-id" value="{{ file[0] }}" title="Download file"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <form  action="{{ url_for('lab1_remove_file') }}" method="post">
                                        <button id="remove" class="btn btn-default" data-toggle="tooltip" type="submit" name="file-id" value="{{ file[0] }}" title="Remove file"><span class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="4" align="center">No files</td></tr>
                    {% endif %}
                  </tbody>
                </table>
            </div>
      </div>
    </div>
  </body>
</html>