{% include 'header.html' %}

<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h1>Hello, BSUIR. OKPO Labs</h1>
        </div>
      </div>
    </div>
  </body>
</html>