{% include 'header.html' %}

<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <form action="{{ url_for('lab2') }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="source-code">if __name__ == '__main__':</label>
                    <textarea id="source-code" rows="30" cols="60" name="source-code" style="margin-left:20px; background-color: #073642; color: #839496;font-family: monospace;">
{{ code_example }}
                    </textarea>
                </div>
                <div class="form-group has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-folder-open"></span></span>
                        <input type="file" id="file" class="form-control btn btn-default" name="file" value="{{ request.form.file }}">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-console"></span> Calculate </button>
                </div>
            </form>
        </div>
        {% if cyclomatic_complexity %}
            <div class="col-md-4 col-md-offset-2">
                <div class="alert alert-info" role="alert">
                  Cyclomatic complexity is {{ cyclomatic_complexity }}<br>
                  <a href="{{url_for('static', filename='maccabe-graph.jpg')}}" data-toggle="tooltip" title="Download graph as JPG" download><span class="glyphicon glyphicon-export"></span> Export Graph </a>
                </div>
                Code Tree:
                <pre>{{ code_tree }}</pre>
            </div>
        {% endif %}
      </div>
  </body>
</html>