{% include 'header.html' %}

<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form class="form-horizontal" action="{{ url_for('signup') }}" method="post">
            <div class="form-group has-feedback">
              <label class="control-label col-sm-3" for="username">Username</label>
              <div class="col-sm-9">
              {% if error %}
                <div class="input-group has-error">
              {% else %}
                <div class="input-group">
              {% endif %}
                  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                  <input type="text" class="form-control" id="username" placeholder="Username" name="username" value="{{request.form.username }}">
                </div>
              </div>
            </div>
            <div class="form-group has-feedback">
              <label class="control-label col-sm-3" for="password">Password</label>
              <div class="col-sm-9">
              {% if error %}
                <div class="input-group has-error">
              {% else %}
                <div class="input-group">
              {% endif %}
                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                  <input type="password" class="form-control" id="password" placeholder="Password" name="password" value="{{request.form.password }}">
                </div>
              </div>
            </div>
            <div>
              {% if error %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
              {% endif %}
            </div>
            <input class="btn btn-default" type="submit" value="Sign up">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
